  <!DOCTYPE html>
<html>
<head>
    <title>Resume Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Navbar -->
 <div class="resume-container">
    <div class="resume-section">

        <div class="resume-left">
            <h1>Just three simple steps</h1>
            <ol>
                <li>Select a template...</li>
                <li>Build your resume...</li>
                <li>Download and send!</li>
            </ol>
            <a href="#" class="btn">Create My Resume</a>
        </div>

        <div class="resume-right">
            <img src="{{ url_for('static', filename='images/resume.png') }}">
        </div>

    </div>
</div>
<section class="trusted-section2">

    <p class="trusted-text2">Trusted by professionals hired at:</p>

    <div class="logo-slider2">
        <div class="logo-track2">
            <img src="https://www.bing.com/th/id/OIP.goYHa_TwAu6QMmE1M5MhGQHaIL?w=213&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2">
        <img src="https://tse2.mm.bing.net/th/id/OIP.4sQ-nxdLA6-bkRMNpGYaSAHaEk?rs=1&pid=ImgDetMain&o=7&rm=3">
        <img src="https://logospng.org/download/walmart/walmart-1024.png">
        <img src="https://tse1.mm.bing.net/th/id/OIP.f-eaqvG8a9_4OctPQh82tAHaHa?rs=1&pid=ImgDetMain&o=7&rm=3">

            <!-- Duplicate for smooth loop -->
            <img src="https://www.bing.com/th/id/OIP.goYHa_TwAu6QMmE1M5MhGQHaIL?w=213&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2">
        <img src="https://tse2.mm.bing.net/th/id/OIP.4sQ-nxdLA6-bkRMNpGYaSAHaEk?rs=1&pid=ImgDetMain&o=7&rm=3">
        <img src="https://logospng.org/download/walmart/walmart-1024.png">
        <img src="https://tse1.mm.bing.net/th/id/OIP.f-eaqvG8a9_4OctPQh82tAHaHa?rs=1&pid=ImgDetMain&o=7&rm=3">
    </div>
    </div>

</section>


</body>
</html>